%section.day.grid_1
  %p.weekday= day.name
  
  %ul.activities
    - day.activities.each do |activity|
      %li.activity
        %span.title= activity.title
        = haml :"budget/time_pill", locals: {hours: activity.hours, minutes: activity.minutes}
  %section{:class => (day.has_time_available? ? "free" : "over")}
    - if day.has_time_available?
      = haml :"budget/time_pill", locals: {hours: day.hours_available, minutes: day.minutes_available}
    - else
      %p Overbudget!
