%section.day.grid_1
  %p= day.name
  
  %ul.time_list
    - day.activities.each do |activity|
      %li
        %p.activity
          = activity.title
          %span= activity.hours_and_minutes

  %section{:class => (day.has_time_available? ? "free" : "over")}
    - if day.has_time_available?
      %p 
        = day.hours_and_minutes_available
        Free
    - else
      %p Overbudget!
