!!!
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7] <html class="no-js ie7 oldie" lang="en">
/[if IE 8] <html class="no-js ie8 oldie" lang="en">
<!--[if (gt IE 8)]><html lang="en" class="no-js"><![endif]-->

%head
  %meta{charset: "utf-8"}
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %title Time Budget
  %meta{content: "width=device-width,initial-scale=1", name: "viewport"}

  %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/reset.css"}
  %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/fluid_grid.css"}
  %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/time_budget.css"}
  %link{rel: "stylesheet", type: "text/css", href: "http://fonts.googleapis.com/css?family=Lato:100,300,400,900|Gentium+Book+Basic"} 
   
%body
  %section#masthead.container.container_4
    .grid_4 
      %h1 Time Budget
      %form
        %p
          %label 
            %input{:name => "activity", :type => "text", :placeholder => "Activity", :class => "activity"}          
          %input{:name => "hours", :type => "text", :placeholder => "HH", :class => "duration"}
            %span :
          %input{:name => "minutes", :type => "text", :placeholder => "MM", :class => "duration"}
          %select
            %option Sunday
            %option Monday
            %option Tuesday
            %option Wednesday
            %option Thursday
            %option Friday
            %option Saturday
            %option Every Day
            %option Weekdays
            %option Weekends
          %button Add 
    .clear &nbsp;

  %section#content
    %section.container.container_4
      - days[0..3].each do |day|
        = haml :"budget/day", locals: {day: day}
      
      %div.clear{style: "margin-bottom: 4%"} &nbsp;
      
      - days[4..6].each do |day|
        = haml :"budget/day", locals: {day: day}
      
      %section#something.grid_1
      
      %div.clear &nbsp;

</html>
